@font-face {
    font-family: "Minecraft";
    src: url('../fonts/Minecraft.woff') format('woff'),
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: "Minecraft", sans-serif;
}

body {
	background-color: blue;
}

.header {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	width: 1200px;
	height: 50px;
	border: 2px yellow dashed;
}

.header-img {
    width: 20px;
    margin-right: 5px;
}









.container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	width: 1200px;
	height: 600px;
	border: 2px yellow dashed;
	position: relative;
}

.taContainer {
    width: 500px;
    height: 400px;
    position: relative;
    display: flex;
    flex-direction: row;
}

.input {
    width: 500px;
    height: 400px;
    padding-top: 5px;
    resize: none;
    color: black;
    border: none;
    outline: none;
    resize: none;
    font-size: 14px;
}

#textareaOutput {
	background-color: #EEEEEE;
}

.button {
	display: flex;
	align-items: center;
	margin: 10px;
    padding: 10px 20px;
    background-color: #fff873;
    color: blue;
    text-decoration: none;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.button:hover,
.button-tr:hover,
.button-tr-names:hover {
    background-color: #a69d00;
    color: #fff;
}

.button-tr {
    background-color: #fff873;
    color: blue;
    border: 1px solid black;
    margin: 10px;
    height: 200px;
    width: 30px;
    cursor: pointer;
}

.button-copy {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.copy-notification {
    display: none;
    position: fixed;
    bottom: 20px;
    left: -100%;
    background-color: green;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    z-index: 1000;
}

@keyframes slideInOut {
    0% {
        left: -100%;
        opacity: 0;
    }
    10% {
        left: 10%;
        opacity: 1;
    }
    90% {
        left: 10%;
        opacity: 1;
    }
    100% {
        left: 100%;
        opacity: 0;
    }
}

.copy-notification.show {
    display: block;
    animation: slideInOut 2s forwards;
}









.translate-names {
    position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: left;
	align-items: center;
	border: 2px yellow dashed;
	width: 1200px;
	margin-bottom: 10px;
    padding: 10px;
}

.translate-names label,
.translate-names p,
.translate-names h2 {
	color: yellow;
}









.template-selection-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: left;
	align-items: center;
	border: 2px yellow dashed;
	width: 1200px;
	margin: 10px 0;
    padding: 10px;
}

.template-selection-container > * {
	color: yellow;
}

.template-selection-container > p {
	font-size: 20px;
}

.radio-container {
    display: inline-block;
    position: relative;
    width: 75px;
    height: 75px;
    margin: 0 75px;
}

.radio-container input[type="radio"] {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    margin: 0;
}

.radio-container .custom-radio {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border: 5px solid #878787;
    border-radius: 50%;
}

.radio-container .custom-radio:hover {
    border: 5px solid #46dbd6;
}

.radio-container input[type="radio"]:checked + .custom-radio {
    background-color: #fff;
}

.radio-container .custom-radio::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 50%;
    background-color: #000;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.radio-container .custom-radio:hover::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 50%;
    background-color: #46dbd6;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.radio-container input[type="radio"]:checked + .custom-radio::after {
    display: block;
}













.footer {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	width: 1200px;
	height: 50px;
	border: 2px yellow dashed;
	margin-top: 10px;
}

.footer > span {
	color: yellow;
	margin: 3px;
}

.footer > a {
	color: red;
}

.footer > a:hover {
	color: #A60000;
}














div.CodeMirror {
    width: 500px;
    height: 400px;
    padding-top: 5px;
    font-size: 14px;
    resize: none;
    color: black;
    border: none;
    outline: none;
    resize: none;
}
.cm-custom-link {
    color: blue;
    font-weight: bold;
}
.cm-custom-heading {
    color: brown;
}
.cm-custom-parameter {
    color: orange;
}
.cm-custom-template {
    color: purple;
}
.cm-custom-template-parameter-name {
    color: purple;
    font-style: bold;
}
.cm-custom-template-name {
    color: #e500ff;
}
.cm-custom-tag {
    color: green;
}
.cm-custom-parser {
    color: red;
}
.cm-custom-comment {
    color: gray;
}