:root {
  --bg-color: #0000FF;
  --alt-color: #FFFF00;
  --btn-hover-bg-color: #A69D00;
  --btn-hover-text-color: #FFFFFF;
  --link-color: #FF0000;
  --link-hover-color: #A60000;
}

@font-face {
    font-family: "Minecraft";
    src: url('../fonts/Minecraft.woff') format('woff'),
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: "Minecraft", sans-serif;
}

body {
	background-color: var(--bg-color);
}

.header {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	width: 1200px;
	height: 50px;
	border: 2px var(--alt-color) dashed;
    margin: 0 auto;
}

.header-img {
    width: 20px;
    margin-right: 5px;
}








.settings-menu {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #c9c9c9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: none; /* Початково приховано */
    z-index: 10000;
}

.settings-menu label {
    margin-right: 10px;
}

.toggle-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: none; /* Початково приховано */
    z-index: 9999;
}

input[type="color"] {
    position: relative;
    right: 0;
}

.reset-btn {
    display: flex;
    align-items: center;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: yellow;
    color: blue;
    text-decoration: none;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.reset-btn:hover {
    background-color: #A69D00;
    color: white;
}

.pers-presets-button {

}







.container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	width: 1200px;
	height: 600px;
	border: 2px var(--alt-color) dashed;
	position: relative;
    margin: 10px auto;
}

.taContainer {
    width: 500px;
    height: 420px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.timeTracker {
    color: var(--alt-color);
}

.input {
    width: 500px;
    height: 400px;
    padding-top: 5px;
    resize: none;
    color: black;
    border: none;
    outline: none;
    resize: none;
    font-size: 14px;
}

.button {
	display: flex;
	align-items: center;
	margin: 10px;
    padding: 10px 20px;
    background-color: var(--alt-color);
    color: var(--bg-color);
    text-decoration: none;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.settings-button {
    display: flex;
    align-items: center;
    margin: 10px;
    height: 40px;
    padding: 0 10px;
    background-color: var(--alt-color);
    color: var(--bg-color);
    text-decoration: none;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.button:hover,
.button-tr:hover,
.button-clear:hover,
.button-tr-names:hover,
.settings-button:hover,
.search-button:hover {
    background-color: var(--btn-hover-bg-color);
    color: var(--btn-hover-text-color);
}

.buttons-tr {
    display: flex;
    flex-direction: column;
}

.button-tr {
    background-color: var(--alt-color);
    color: var(--bg-color);
    border: 1px solid black;
    margin: 10px;
    height: 200px;
    width: 30px;
    cursor: pointer;
}

.button-clear {
    background-color: var(--alt-color);
    color: var(--bg-color);
    border: 1px solid black;
    margin: 10px;
    height: 30px;
    width: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-copy {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    z-index: 999;
}










.translate-names {
    position: relative;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: left;
	align-items: center;
	border: 2px var(--alt-color) dashed;
	width: 1200px;
	margin-bottom: 10px;
    padding: 10px;
    margin: 0 auto;
}

.translate-names label,
.translate-names p,
.translate-names h2 {
	color: var(--alt-color);
}

.translate-names-a {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: center;
    margin-bottom: 10px;
    width: 1200px;
    margin-bottom: 10px;
    padding: 10px;
    margin: 0 auto;
}

details.search-text-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: center;
    margin-left: 200px;
    width: 1000px;
}

summary {
    margin-bottom: 25px;
}

details,
details summary {
    color: var(--alt-color);
}

.flex-dir-needed {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search-text-wrapper {
    display: flex;
    flex-direction: column;
}

.for-regex-container {
    display: flex;
    flex-direction: rows;
}

.hidden {
    display: none;
}
.search-text {
    width: 300px;
}

.global-search-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin-top: 10px;
}

.global-search {
    width: 25px;
    height: 25px;
    margin: 0 5px 0 0;
}

label a {
    color: var(--link-color);
}

label a:hover {
    color: var(--link-hover-color);
}

.search-button {
    position: relative;
    bottom: 10px;
    left: -165px;
    background-color: var(--alt-color);
    color: var(--bg-color);
    border: 1px solid black;
    font-size: 18px;
    height: 30px;
    width: 175px;
    cursor: pointer;
}

.dt-sl {
    display: flex;
    flex-direction: row;
}

.vc-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.vc-container select {
    height: 23px;
}

.highlight-search {
    background-color: var(--alt-color);
    color: var(--bg-color);
}

.arrow {
    color: red;
}








.template-selection-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: left;
	align-items: center;
	border: 2px var(--alt-color) dashed;
	width: 1200px;
	margin: 10px 0;
    padding: 10px;
    margin: 10px auto;
}

.template-selection-container > * {
	color: var(--alt-color);
}

.template-selection-container > p {
	font-size: 20px;
}

.mode-choice-radio {
    scale: 6.5;
    margin: 0 75px;
}

.editions-form > label {
    font-size: 15px;
}










.footer {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	width: 1200px;
	height: 50px;
	border: 2px var(--alt-color) dashed;
	margin-top: 10px;
    margin: 0 auto;
}

.footer > div {
	color: var(--alt-color);
	margin: 3px;
}

.footer a {
	color: var(--link-color);
}

.footer a:hover {
	color: var(--link-hover-color);
}













div.CodeMirror {
    width: 500px;
    height: 420px;
    padding-top: 5px;
    font-size: 14px;
    resize: none;
    color: black;
    border: none;
    outline: none;
    resize: none;
}
.cm-custom-link {
    color: blue;
    font-weight: bold;
}
.cm-custom-heading {
    color: brown;
}
.cm-custom-parameter {
    color: orange;
}
.cm-custom-template {
    color: purple;
}
.cm-custom-template-name {
    color: #e500ff;
}
.cm-custom-parser-name {
    color: red;
}
.cm-custom-tag {
    color: green;
}
.cm-custom-comment {
    color: gray;
}
.cm-diff-added-green {
    background-color: #d4fcbc;
}
.cm-diff-added-blue {
    background-color: #b7cfff;
}